<!DOCTYPE html>
<html lang="en">
<head>
    <title>Additional info from external API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="btn">Home</a>
        <a href="{{ url_for('exercise1') }}" class="btn">Dashboard</a>
        <a href="{{ url_for('last_cves') }}" class="btn">Ejercicio 3</a>
        <a href="{{ url_for('extra_metrics') }}" class="btn">More Metrics</a>
        <a href="{{ url_for('cve_info') }}" class="btn">Get more data from API</a>
        <a href="{{ url_for('logout') }}" class="btn logout-btn">Logout</a>

    </nav>
    <h1>Additional info from external API</h1>
    <form method="POST">
        <label for="CVE_id">Enter CVE ID:</label>
        <input type="text" id="CVE_id" name="CVE_id" required>
        <button type="submit">Search</button>
    </form>

    {% if org_id and org_name %}
    <div>
        <h2>Vulnerability attributed to this company</h2>
        <p><strong>Organization ID:</strong> {{ org_id }}</p>
        <p><strong>Organization Name:</strong> {{ org_name }}</p>
    </div>
    {% endif %}
</body>
</html>